*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 100%;
}
body{
    font-family:'RocknRoll One', sans-serif;
    background-color: #8175ba;
    margin: 0;
}
header{
    background-color: #EDEBEB;
    width: 100%;   
    height: 100%;
}
.__logoNabeju{
    width: 500px;
    padding: 10px;
    margin: 0% 25%;
    display: flex;
    justify-content: center;
}

/*menu nav*/
a{
    text-decoration: none;
}
.__menuItem{
    display: inline;
    border: solid #8175ba 3px;
    padding: 0 90px 60px 90px;
    
}
.__menuItem:hover{
    text-decoration: underline;
}
li a:hover {
    background-color: #8175ba;
  }
/*textos*/
.textoIndex{
    font-size: 30px;
    font-weight: 100;
    padding: 15px;
    color: #EDEBEB;
    position: center;
}
.textoSobreMi{
    color: #EDEBEB;
    text-shadow: #DEDCDC;
    background-color: #8175ba;
   font-size: 25px;
   text-align: left; 
   display: inline-block;
   width: 35%;
   margin: 50px;

}
.textoH1{
    color: #EDEBEB;
}
.text{
    color: #EDEBEB;
    font-size: 15px;
}
.fotoSobreMi{
    background-color: #8175ba;
    height: 55%;
    width: 40%;    
   border: #8175ba solid 1px;
   padding: 15px;
   margin: 20px 15px 20px 15px;
}

/*cards index*/
.__cards{
    color: #DEDCDC;
    display: flex;
    position: relative;
    left: 15%;
}
.__textCard{
    padding: 35%;
    text-align: center;
}

.flip-card1 {
    background-color: #8175ba;
    width: 300px;
    height: 300px;
    border: 4px solid #EDEBEB;
    perspective: 1000px; 
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    
}
  .flip-card-inner1 {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
  .flip-card1:hover .flip-card-inner1 {
    transform: rotateY(180deg);
}
  .flip-card-front1, .flip-card-back1 {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
}
  .flip-card-front1 {
    background-color: #8175ba;
    color: #EDEBEB;
    display: flex;
}
  .flip-card-back1 {
    background-color: #EDEBEB;
    color: #8175ba;
    transform: rotateY(180deg);
    text-align: center;
    font-size: 30px;
    text-decoration: #8175ba underline;
}
/*card2index*/
.flip-card2 {
    background-color: #8175ba;
    width: 300px;
    height: 300px;
    border: 4px solid #EDEBEB;
    perspective: 1000px; 
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
  .flip-card-inner2 {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
  .flip-card2:hover .flip-card-inner2 {
    transform: rotateY(180deg);
}
  .flip-card-front2, .flip-card-back2 {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;

}
  .flip-card-front2 {
    background-color: #8175ba;
    color: #EDEBEB;
    display: flex;
    
}
  .flip-card-back2 {
    background-color:#EDEBEB;
    color: #8175ba;
    transform: rotateY(180deg);
    text-align: center;
    font-size: 30px;
    text-decoration: #8175ba underline;
}

/*card3index*/
.flip-card3 {
    background-color: #8175ba;
    width: 300px;
    height: 300px;
    border: 4px solid #EDEBEB;
    perspective: 1000px; 
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

}
  .flip-card-inner3 {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
  .flip-card3:hover .flip-card-inner3 {
    transform: rotateY(180deg);
}
  .flip-card-front3, .flip-card-back3 {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;

}
  .flip-card-front3 {
    background-color: #8175ba;
    color: #EDEBEB;
    display: flex;
    
}
  .flip-card-back3 {
    background-color:#EDEBEB;
    color: #8175ba;
    transform: rotateY(180deg);
    text-align: center;
    font-size: 30px;
    text-decoration: #8175ba underline;
}
/*carrousel*/
#demo{
    margin: ;
    padding: ;
    text-align: center;
}
/*cards productos*/
.section{
    letter-spacing: 0.03rem;
    line-height: 1,6;
    width: 100%;
    height: 100%;
    display: inline-block;
}
.container{
    width: 100%;
    max-width: 1200px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
    padding: 15px;
    font-size: 14px;
    color: #332140;
}
.container .card{
    width: 338px;
    border-radius: 8px;
    box-shadow: #332140;
    overflow: hidden;
    margin: 20px;
    transition: all 0,25s;
}
.container .card:hover{
    transform: translateY(-15px);
    box-shadow: #8175ba;
}
.container .card img{
    width: 330px;
    height: 220px;
}
.container .card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}
.container .card h4{
    font-weight: 600;
    color: #332140;
}

/*tabla*/
table{
    border: solid #EDEBEB 3px;
    padding: 15px;
    color: #EDEBEB;
}
.fondoFormulario{
    color: #EDEBEB;
}

/*grilla con grid*/
#grilla{
    padding: 10px;
    display: grid;
    grid-template-areas:
    "buttercream lettercake casamientos"
    "infantiles clasicas decorado";
    grid-template-columns: auto;
    grid-template-rows: 150px 150px ;
    grid-column-gap: 50px;
    grid-row-gap: 800px;
}
.buttercream{
    grid-area: buttercream ;
}
.lettercake{
    grid-area: lettercake ;
}  
.casamientos{
    grid-area: casamientos ;
}  
.infantiles{
    grid-area: infantiles ;
}  
.clasicas{
    grid-area: clasicas;
}
.decorados{
    grid-area: decorados;
}
.buttercream, .lettercake, .casamientos, 
.infantiles, .clasicas, .decorados{
    padding: 10px;
    border: 3px solid #332140;
}

/*footer*/
#__footer{
    background-color: #EDEBEB;
    color: #332140;
   display: inline-block;
   width: 100%;
   height: auto;
   padding: 1em;
}
